# Configurações gerais do servidor
PORT=3000

# Base URL para diferentes ambientes
# Para desenvolvimento com Android emulator, use 10.0.2.2
# Para desenvolvimento web/desktop ou iOS simulator, use localhost
# BASE_URL=http://10.0.2.2:3000
# BASE_URL=http://localhost:3000

# Configurações do banco de dados
DB_PATH=./inventory_data.db

# Configurações de upload
UPLOAD_FOLDER=uploads

# Configurações do JWT
JWT_SECRET=12456suasenhasecreta

# Outras configurações
NODE_ENV=development