# Configurações gerais do servidor
PORT=3000

# Configurações do banco de dados (substitua pelos seus dados)


# Configurações do JWT
JWT_SECRET=12456suasenhasecreta

# Outras configurações (adicione conforme necessário)
# API_BASE_URL=http://localhost:3000